element {
	--red: rgba(254,95,85,1);
	--orange: rgba(240,182,127,1);
	--beige: rgba(214,209,177,1);
	--green: rgba(199,239,207,1);
	--yellow: rgba(238,245,219,1);
}

* {
	margin: 0;
	padding: 0;
}

html, body {
	color: black;
	background-color: rgba(254,95,85,1);
	width: 100%;
	height: 100%;
}

body {
	max-width: 100%;
	overflow: hidden;
	background: repeating-linear-gradient(
		-45deg,
		rgba(254,95,85,1),
		rgba(254,95,85,1) 20px,
		rgba(240,182,127,1) 20px,
		rgba(240,182,127,1) 40px
	);
}

a {
	text-decoration: none;
	color: black;
}

.container {
	display: flex;
	justify-content: center;
	align-items: center;
	margin-left: 200px;
	transition: 0.5s ease-in-out;
	width: auto;
	height: 100%;
}

#subBtn {
	z-index: 100000;
	position: absolute;
	top: 0;
	height: 100%;
	width: 20px;
	margin-left: 180px;
	pointer-events: all;
	transition: 0.5s ease-in-out;
	font-size: 20px;
	color: rgba(238,245,219,1);
}

#subBtn i {
	padding-top: 5vh;
	padding-left: 6px;
}

.container.expand {
	margin-left: 20px !important;
}

#subBtn.expand {
	margin-left: 0px !important;
}

#canvas {
	position: relative;
}

#mainCanvas {
	background-color: white;
	z-index: 0;
	box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	background-position: center center;
	cursor: default;
}

#calendar {
	position: absolute;
	z-index: 20;
	top: 12vh;
	left: 0;
	right: 0;
	min-width: 50vw;
	max-width: 60vw;
	height: auto;
	max-height: 60vh;
	overflow: scroll;
	color: white;
	border: 5px dashed white;
	background-color: #F74C4C;
	padding: 4.5vw 6vw;
	border-radius: 20px;
	margin: 0 auto;
	transition: 0.5s ease-in-out;
	box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}

.slide-up {
	top: -100% !important;
}

#closedSign {
	margin: -2.5vh -5vw;
	z-index: 10;
	text-align: center;
	font-size: 3.5vw;
}

#closedSign span {
	padding: 0.5vw;
	line-height: 3.5vw;
	background-color: black;
}

.countdownDisp {
	font-size: 4.5vw;
	text-align: center;
}

#calendar ul {
	text-align: justify;
	text-align-last: center;
	margin-top: 2vh;
}

#calendar li {
	position: relative;
	display: inline-block;
	min-height: 11vh;
	min-width: 11vh;
	max-height: 11vh;
	max-width: 11vh;
	border: 1px solid #9B2626;
	border-radius: 3px;
}

#calendar li:hover {
	background-color: rgba(250,115,105,1);
}

#calendar li.opened {
	background-color: rgba(0,0,0,1);
	color: rgba(240,182,127,1);
}

#calendar li>div {
	position: absolute;
	bottom: 0;
	right: 0;
	font-size: 3.5vh;
	line-height: 2.5vh;
	padding: 0.9vh;
}

#mainGui {
	top: 0;
	position: absolute;
	z-index: 10;
	width: 100%;
	bottom: 5vh;
	pointer-events: none;
}

#center {
	margin-left: 200px;
	height: 100%;
	z-index: -10;
	position: relative;
	pointer-events: none;
	transition: 0.5s ease-in-out;
}

#center.expand {
	margin-left: 20px !important;
}

#tools {
	height: auto;
	background-color: rgba(240,182,127,0.5);
	pointer-events: all;
	text-align: center;
	padding-top: 5px;
}

#tools >div>div {
	border: 1px dashed rgba(0,0,0,0.5);
}

#mainTools div {
	background-color: rgba(254,95,85,1);
	display: inline-block;
	padding: 5px;
	border-radius: 10px;
	color: white;
}

#mainTools div:hover {
	border: 1px dashed rgba(240,182,127,1);
	cursor: pointer !important;
}

#mainTools a {
	padding: 5px;
	color: white;
}

#misc {
	display: none;
	height: auto;
	background-color: rgba(238,245,219,0);
	position: absolute;
	bottom: 0;
	width: 100%;
	text-align: center;
	pointer-events: all;
}

#misc div{
	background-color: rgba(240,182,127,1);
	display: inline-block;
	font-size: 20px;
	padding: 10px;
	margin: 10px;
	border: 2px solid rgba(238,245,219,1);
	border-radius: 10px;
	background: linear-gradient(rgba(250,115,105,1), rgba(240,182,127,1), rgba(250,115,105,1));
}

#misc a {
	color: white;
}

#misc a:hover{
	font-weight: bolder;
}

#subtools {
	position: absolute;
	float: left;
	height: 100%;
	left: 0;
	width: 170px;
	background-color: rgba(199,239,207,1);
	transition: 0.5s ease-in-out;
	border-radius: 0px 20px 20px 0px;
	overflow: hidden;
	pointer-events: all;
	padding: 0px 5px;
	border-right: 20px solid rgba(240,182,127,0.5);
	box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2), 0 5px 10px 0 rgba(0,0,0,0.19);

}

#subtools .inner-container {
	margin: 0px 0px 0px 0px;
	width: 100%;
	max-height: 100%;
	padding-right: 10%;
	overflow-y: scroll;
}

#subtools div {
	text-align: center;
}

#subtools h1 {
	margin: 5px 0px 0px 5px;
	text-align: left !important;
	font-size: 28px;
}

#subtools .stamp {
	display: inline-block;
	border: 5px solid rgba(238,245,219,1);
	border-radius: 5px;
	min-width: 62px;
	min-height: 62px;
	max-width: 62px;
	max-height: 62px;
	padding: 0;
	overflow: hidden;
	margin: 5px;
	background-color: rgba(238,245,219,1);
}

#subtools .pipe {
	display: inline-block;
	border: 5px solid rgba(238,245,219,1);
	border-radius: 5px;
	min-width: 62px;
	min-height: 62px;
	max-width: 62px;
	max-height: 62px;
	padding: 0;
	overflow: hidden;
	margin: 5px;
	background-color: rgba(238,245,219,1);
}

#subtools .stamp img {
	max-width: 100%;
	max-height: 100%;
}

#subtools .pipe img {
	max-width: 100%;
	max-height: 100%;
}

#subtools .bg {
	display: inline-block;
	border: 5px solid rgba(238,245,219,1);
	border-radius: 5px;
	min-width: 62px;
	min-height: 62px;
	max-width: 62px;
	max-height: 62px;
	overflow: hidden;
	margin: 5px;
	padding: 0;
	background-color: rgba(238,245,219,1);
}

#subtools .bg img {
	max-height: 62px;
}

.specialTools {
	width: 95%;
	margin: 0 auto;
	text-align: justify;
	text-align-last: center;
}

.specialTools div:hover:not(.text):not(#inputText) {
	cursor: pointer !important;
	background-color: rgba(240,182,127,0.5) !important;
}

.specialTools a:hover {
	cursor: pointer !important;
	background-color: rgba(240,182,127,0.5) !important;
}

.specialTools .selected {
	background-color: rgba(240,182,127,0.5) !important;
}

.specialTools textarea {
	display: block;
	text-align: left !important;
	text-align-last: left !important;
}

.specialTools a {
	display: inline-block;
	text-align: center;
	padding: 5px;
	border: 1px solid black;
	border-radius: 5px;
	background-color: rgba(238,245,219,1);
	margin-bottom: 5px;
}

.specialTools>div {
	display: inline-block;
	padding: 5px;
	border: 1px solid black;
	background-color: rgba(238,245,219,1);
	border-radius: 5px;
	margin-bottom: 5px;
}

.otherTools {
	text-align: left !important;
}

.otherTools>div {
	visibility: hidden;
	padding: 5px;
	background-color: rgba(238,245,219,1);
	border-radius: 5px;
	margin-bottom: 5px;
}

.revert {
	visibility: visible !important;
}

.colors div {
	display: inline-block;
	border-radius: 5px;
	padding: 15px;
	border-radius: 100%;
	border: 1px solid;
	max-width: 57px;
	max-height: 57px;
	overflow: hidden;
	margin: 5px;
	border: 1px solid rgba(0,0,0,0.5) !important;
}

.colors div:hover {
	border: 1px solid white !important;
	cursor: pointer !important;
}

.hidden {
	left: -180px !important;
	/*width: 0 !important;*/
}

.otherTools.hidden {
	display: none !important;
}

#footer {
	position: absolute;
	bottom: 0;
	right: 0;
	left: 0;
	height: 5vh;
	background-color: black;
	color: white;
	font-size: 2vh;
	line-height: 5vh;
}

.outlineText {
	text-shadow: black 0px 0px 0.1vw,
				black 0px 0px 0.1vw,
				black 0px 0px 0.1vw,
				black 0px 0px 0.1vw,
				black 0px 0px 0.1vw,
				black 0px 0px 0.1vw,
				black 0px 0px 0.1vw,
				black 0px 0px 0.1vw,
				black 0px 0px 0.1vw,
				black 0px 0px 0.1vw,
				black 0px 0px 0.1vw,
				black 0px 0px 0.1vw,
				black 0px 0px 0.1vw,
				black 0px 0px 0.1vw,
				black 0px 0px 0.1vw,
				black 0px 0px 0.1vw,
				black 0px 0px 0.1vw,
				black 0px 0px 0.1vw,
				black 0px 0px 0.1vw,
				black 0px 0px 0.1vw,
				black 0px 0px 0.1vw,
				black 0px 0px 0.1vw,
				black 0px 0px 0.1vw,
				black 0px 0px 0.1vw,
				black 0px 0px 0.1vw,
				black 0px 0px 0.1vw
	;
	-webkit-font-smoothing: antialiased;
}
