element {
	--red: rgba(254,95,85,1);
	--orange: rgba(240,182,127,1);
	--beige: rgba(214,209,177,1);
	--green: rgba(199,239,207,1);
	--yellow: rgba(238,245,219,1);
}

* {
	margin: 0;
	padding: 0;
}

html, body {
	color: black;
	background-color: rgba(254,95,85,1);
	width: 100%;
	height: 100%;
}

.container {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;
	height: 100%;
}

#canvas {
	background-color: white;
}

#mainCanvas {
	z-index: 0;
}

#calendar {
	position: absolute;
	z-index: 20;
	top: 200px;
	bottom: 0;
	left: 0;
	right: 0;
	width: 50%;
	height: 200px;
	color: white;
	background-color: rgba(254,95,85,1);
	padding: 50px;
	border-radius: 20px;
	margin: 0 auto;
	transition: 0.5s ease-in-out;
}

.slide-up {
	top: -400px !important;
}

#mainGui {
	top: 0;
	position: absolute;
	z-index: 10;
	width: 100%;
	bottom: 40px;
	pointer-events: none;
}

#center {
	margin-left: 200px;
	margin-right: 200px;
	height: 100%;
	z-index: -10;
	position: relative;
	pointer-events: none;
}

#tools {
	height: auto;
	background-color: rgba(240,182,127,1);
	pointer-events: all;
}

#mainTools div {
	display: inline-block;
}

#misc {
	height: 100px;
	background-color: rgba(238,245,219,0.5);
	position: absolute;
	bottom: 0;
	width: 100%;
}

#subtools {
	float: left;
	height: 100%;
	width: 200px;
	background-color: rgba(199,239,207,1);
	transition: 0.3s ease-in-out;
	border-radius: 0px 20px 20px 0px;
	overflow: hidden;
	pointer-events: all;
}

#subtools div {
	margin: 10px;
}

.hidden {
	width: 0 !important;
}

#properties {
	float: right;
	height: 100%;
	width: 200px;
	background-color: rgba(199,239,207,1);
	transition: 0.3s ease-in-out;
	border-radius: 20px 0px 0px 20px;
}

#footer {
	position: fixed;
	bottom: 0;
	width: 100%;
	overflow: hidden;
	height: 40px;
	background-color: black;
	color: white;
	line-height: 40px;
}
